<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Countries</title>
</head>
<body>
<div class="main-container" layout:fragment="content">
    <div class="container">
        <h1 class="page-title">Countries</h1>

        <div th:if="${countries == null or #lists.isEmpty(countries)}" class="alert">
            No countries.
        </div>

        <div class="cards-grid" th:if="${countries != null and !#lists.isEmpty(countries)}">
            <div class="application-card" th:each="c : ${countries}">
                <h3 th:text="${c.name}">Country</h3>
                <p class="app-info">
                    <span class="app-label">Code:</span>
                    <span th:text="${c.code}">Code</span>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
